@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}

.page_header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1160px;
    height: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 60px;
    background-color: #FFE17F;
}

.header_inner {
    height: 186px;
}

.main_opportunities {
    display: flex;
    margin-bottom: 30px;
}

.logo_header {
    margin-bottom: 30px;
}

.form_for_searching {
    width: 517px;
    margin-right: 26px;
}

.searching {
    margin: 0;
}

.opportunities_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 497px;
}

.opportunity_item:not(:last-child) {
    margin-right: 60px;
}

.opportunity_item:first-child {
    margin-right: auto;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navigation_item:not(:last-child) {
    margin-right: 45px;
}

.navigation_item:first-child {
    margin-right: auto;
}

.opportunities_list,
.navigation_list,
.variety_list,
.suggestion_section_buttons,
.contacts_schedule,
.link_footer_list,
.media_footer_list,
.breadcrumbs_list,
.catalog_filter_list,
.bluetooth_list,
.product_list,
.pagination_list,
.slider_pagination_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page_navigation {
    margin: 0;
    padding: 0;
}

.button_search {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
}

.link_opportunity {
    color: inherit;
    text-decoration: none;
}

.link_navigation {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.device_number {
    font-size: 180px;
    font-weight: 700;
    color: #ffffff;
}

.title_for_device_description {
    margin: 0;
    margin-bottom: 29px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.main_container {
    flex-grow: 1;
    margin-top: 35px;
}

.catalog_item {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.item_gallery {
    width: 560px;
}

.item_information {
    width: 560px;
}

.device_description {
    margin: 0;
    margin-bottom: 51px;
    color: #444444;
}

.link_more,
.link_cross {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.number_value_item {
    font-size: 36px;
    font-weight: 400;
}

.value_name {
    font-size: 16px;
    color: #444444;
}

.variety_device_section {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.variety_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.variety_item_link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: inherit;
    text-decoration: none;
}

.variety_item_title {
    width: 160px;
}

.variety_item_img {
    background-color: #FFE17F;
}

.suggestion_container {
    display: flex;
    width: 1160px;
    height: 319px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.left_column {
    width: 287px;
    margin: 0;
    padding: 0;
}

.middle_column {
    width: 452px;
    margin-left: 116px;
    margin-right: 106px;
}

.suggestion_button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: inherit;
    text-transform: uppercase;
}

.suggestion_button_current {
    color: #FFE17F;
}

.suggestion_title_current {
    margin: 0;
    margin-bottom: 34px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.text_suggestion {
    color: #444444;
}

.suggestion_section {
    background-color: #F0F0F0;
}

.important_message {
    display: block;
    margin: auto 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
}

.important_information_section {
    background-color: #F0F0F0;
}

.important_information_section {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.important_information_container {
    display: flex;
    justify-content: space-between;
    height: 100px;;
}

.decorate_image_truck {
    background-color: #FFE17F;
}

.button_for_more_information {
    margin: 30px 42px;
}

.about_company_title,
.contact_information {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 48px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.text_about_company,
.preview_text_contact {
    margin: 0;
    margin-bottom: 30px;
    color: #444444;
}

.contacts_schedule_item {
    color: #444444;
}

.contacts_schedule_item:last-child {
    margin-bottom: 30px;
}

.transport_companies_list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.transport_company_item {
    line-height: 20px;
    font-weight: 700;
}

.address_title,
.time_schedule {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #444444;
}

.contacts_address_text {
    margin: 0;
}

.contacts_address {
    margin-bottom: 30px;
    font-style: normal;
    color: #444444;
}

.contacts_phone {
    color: inherit;
}

.index_columns {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.information_about_company {
    margin-right: 108px;
}

.subscription_description {
    margin: 0;
    margin-top: 74px;
    width: 560px;
    color: #444444;
}

.useful_note {
    color: #444444;
}

.subscription_container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    height: 421px;
    margin: 0 auto;
}

.fisrt_row {
    display: flex;
    justify-content: space-between;
}

.second_row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: auto;
    margin-bottom: 56px;
}

.subscription_section {
    background-color: #F0F0F0;
}

.subscription_title {
    margin: 0;
    margin-top: 64px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.button_subscription {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-transform: uppercase;
}

.page_footer {
    color: #ffffff;
    background-color: #444444;
}

.footer_container {
    display: flex;
    width: 1160px;
    height: 321px;
    margin: 0 auto;
}

.logo_footer {
    margin-bottom: 35px;
}

.address_text_footer {
    margin: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}

.adress_section_footer {
    width: 239px;
    margin-top: 62px;
}

.link_footer_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 137px;
    margin-bottom: 62px;
}

.link_footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.center_footer {
    width: 444px;
    margin-left: 112px;
}

.extra_information {
    display: flex;
    flex-direction: column;
    width: 175px;
    margin-top: 140px;
    margin-left: auto;
}

.logo_html {
    display: block;
    margin-top: 63px;
    margin-left: auto;
}

.phone-text,
.contacts_phone_footer {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: underline;
}

.media_footer_list {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

.media_footer_item {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}


.media_footer_item:not(:nth-child(3n)) {
    margin-right: 15px;
}

.media_footer {
    color: inherit;
    text-decoration: none;
}

.catalog_header {
    box-sizing: border-box;
    width: 1160px;
    margin: 0 auto;
    padding: 0 21px 35px 60px;
}

.catalog_header_title {
    margin: 0;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.breadcrumbs_list {
    display: flex;
}

.breadcrumbs_item:not(:last-child) {
    margin-right: 36px;
}

.breadcrumbs_link {
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    text-decoration: none;
}

.catalog_container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.catalog_filters {
    width: 320px;
}

.filter-box {
    display: flex;
    justify-content: space-between;
}

.catalog_subtitle {
    margin: 0;
    margin-right: 197px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.catalog_section {
    background-color: #F0F0F0;
}

.catalog_page {
    flex-grow: 1;
    /* height: 1310px; */
    background-color: #ffffff;
}

.catalog_filter {
    width: 840px;
}

.catalog_filter_title {
    line-height: 20px;
    font-weight: 700;
}

.color_checkbox,
.bluetooth_radio {
    font-size: 16px;
    line-height: 19px;
}

.button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
}

.filter-box {
    display: flex;
    padding: 25px 40px;
    background-color: #F0F0F0;
}

.product_item {
    width: 360px;
}

.product_item_image {
    background-color: #F0F0F0;
}

.product_item_title {
    margin: 0;
    line-height: 20;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

.product_item_price {
    line-height: 21px;
    color: #444444;
}

.button_download_more {
    display: block;
    width: 760px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 44px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 3px solid #E5E5E5;
}

.pagination_container {
    box-sizing: border-box;
    width: 760px;
    height: 71px;
    margin: 0 auto;
    margin-bottom: 78px;
    background-color: #EBEBEB;
}

.pagination_list {
    display: flex;
}

.pagination_regulator {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.pagination_item {
    display: block;
    margin: auto 0;
    width: 40px;
    height: 40px;
}

.pagination_item:first-child {
    display: block;
    width: auto;
    height: auto;
    margin-right: 145px;
    padding: 25px;
}

.pagination_item {
    display: flex;
}

.pagination_item:last-child {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 145px;
    padding: 25px;
}

.pagination_link {
    display: block;
    margin: auto auto;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    text-decoration: none;
}

/* Для скрытия разметки */
.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}